.explore {
  padding: 40px 10%;
  font-family: "Arial", sans-serif;
  color: #1a1a1a;
}

.explore__title {
  text-align: center;
  font-size: 3rem;
  color: #1e3932;
  margin-bottom: 40px;
}

.carts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 50px;
}

.carts > div {
  position: relative;
  padding: 20px;
  min-height: 250px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cart1,
.cart3,
.cart5 {
  width: 365px;
  height: 132px !important;
  background-color: #e6efeb;
}

.carts img {
  position: absolute;
  max-width: 180px;
  object-fit: contain;
}

.carts h2 {
  font-size: 1.8rem;
  margin-bottom: 5px;
  z-index: 1;
}

.carts__shop--btn {
  background: none;
  border: none;
  color: #666;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
  padding: 0;
  font-size: 1rem;
  z-index: 1;
}

.cart1 img {
  bottom: 10px;
  right: 10px;
  width: 120px;
}
.cart2 img {
  top: 20px;
  right: 20px;
  width: 220px;
}
.cart3 img {
  bottom: 10px;
  right: 10px;
  width: 150px;
}
.cart4 img {
  top: 20px;
  right: 20px;
  width: 180px;
}
.cart5 img {
  bottom: 10px;
  right: 10px;
  width: 180px;
}
.cart6 img {
  top: 20px;
  right: 20px;
  width: 160px;
}

.explore__footer {
  background-color: #e6efeb;
  padding: 20px 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.loyalty {
  background: none;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}

.explore__footer span {
  font-size: 2rem;
}

.explore__footer p {
  color: #666;
  text-decoration: underline;
}
